In [12]:
# import 
import pandas as pd

In [14]:
df = pd.read_csv(r'../Datasets/OnlineRetail.csv',encoding='ISO-8859-1')
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [24]:
# First Task: From the "w6_Online Retail.csv" file, analyze the "InvoiceDate" column and extract at least 10 different columns

data =df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='%m/%d/%Y %H:%M')
print(data)

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [16]:
# First Task: From the "w6_Online Retail.csv" file, analyze the "InvoiceDate" column and extract at least 10 different columns
df['Year'] = df['InvoiceDate'].dt.year
df['Month'] = df['InvoiceDate'].dt.month
df['Day'] = df['InvoiceDate'].dt.day
df['Hour'] = df['InvoiceDate'].dt.hour
df['Minute'] = df['InvoiceDate'].dt.minute
df['DayOfWeek'] = df['InvoiceDate'].dt.day_name()
df['DayOfYear'] = df['InvoiceDate'].dt.dayofyear
df['WeekOfYear'] = df['InvoiceDate'].dt.isocalendar().week
df['Quarter'] = df['InvoiceDate'].dt.quarter
df['IsMonthStart'] = df['InvoiceDate'].dt.is_month_start
df['IsMonthEnd'] = df['InvoiceDate'].dt.is_month_end
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  Year  \
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom  2010
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom  2010
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
...                    ...        ...         ...             ...   ...
541904 2011-12-09 12:50:00       0.85     12680.0          France  2011
541905 2011-12-09 12:50:00       2.10     12680.0          France  2011
541906 2011-12-09 12:50:00       4.15     12680.0          France  2011
541907 2011-12-09 12:50:00       4.15     12680.0          France  2011
541908 2011-12-09 12:50:00       4.95     12680.0          France  2011

        Month  Day  Hour  Minute  DayOfWeek  DayOfYear  WeekOfYear  Quarter  \
0          12    1     8      26  Wednesday        335          48        4
1          12    1     8      26  Wednesday        335          48        4
2          12    1     8      26  Wednesday        335          48        4
3          12    1     8      26  Wednesday        335          48        4
4          12    1     8      26  Wednesday        335          48        4
...       ...  ...   ...     ...        ...        ...         ...      ...
541904     12    9    12      50     Friday        343          49        4
541905     12    9    12      50     Friday        343          49        4
541906     12    9    12      50     Friday        343          49        4
541907     12    9    12      50     Friday        343          49        4
541908     12    9    12      50     Friday        343          49        4

        IsMonthStart  IsMonthEnd
0               True       False
1               True       False
2               True       False
3               True       False
4               True       False
...              ...         ...
541904         False       False
541905         False       False
541906         False       False
541907         False       False
541908         False       False

[541909 rows x 19 columns]

In [17]:
# First Task: From the "w6_Online Retail.csv" file, analyze the "InvoiceDate" column and extract at least 10 different columns

print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  Year  Month  \
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom  2010     12
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010     12
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom  2010     12
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010     12
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010     12

   Day  Hour  Minute  DayOfWeek  DayOfYear  WeekOfYear  Quarter  IsMonthStart  \
0    1     8      26  Wednesday        335          48        4          True
1    1     8      26  Wednesday        335          48        4          True
2    1     8      26  Wednesday        335          48        4          True
3    1     8      26  Wednesday        335          48        4          True
4    1     8      26  Wednesday        335          48        4          True

   IsMonthEnd
0       False
1       False
2       False
3       False
4       False

In [19]:
# import
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
df = pd.read_csv(r'../Datasets/OnlineRetail.csv',encoding='ISO-8859-1')
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [21]:
# Second Task: Take a raw dataset and perform feature engineering. 
# This can include creating new features, transforming existing features, 
# and encoding categorical variables.
# Explain the rationale behind each decision.
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
df['Year'] = df['InvoiceDate'].dt.year
df['Month'] = df['InvoiceDate'].dt.month
df['DayOfWeek'] = df['InvoiceDate'].dt.dayofweek
print(df)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  Year  \
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom  2010
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom  2010
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
...                    ...        ...         ...             ...   ...
541904 2011-12-09 12:50:00       0.85     12680.0          France  2011
541905 2011-12-09 12:50:00       2.10     12680.0          France  2011
541906 2011-12-09 12:50:00       4.15     12680.0          France  2011
541907 2011-12-09 12:50:00       4.15     12680.0          France  2011
541908 2011-12-09 12:50:00       4.95     12680.0          France  2011

        Month  DayOfWeek
0          12          2
1          12          2
2          12          2
3          12          2
4          12          2
...       ...        ...
541904     12          4
541905     12          4
541906     12          4
541907     12          4
541908     12          4

[541909 rows x 11 columns]

In [23]:
# Second Task: Take a raw dataset and perform feature engineering. 
# This can include creating new features, transforming existing features, 
# and encoding categorical variables.
# Explain the rationale behind each decision.
data = df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
print(data)

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Length: 541909, dtype: float64

In [29]:
# Second Task: Take a raw dataset and perform feature engineering. 
# This can include creating new features, transforming existing features, 
# and encoding categorical variables.
# Explain the rationale behind each decision.
customer_features = df.groupby('CustomerID').agg(
                   TotalSpend=('TotalPrice', 'sum'),
                 AverageSpend=('TotalPrice', 'mean'),
                   TotalItems=('Quantity', 'sum')
).reset_index()
data = df.merge(customer_features, on='CustomerID', how='left')
print(data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  Year  \
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom  2010
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom  2010
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
...                    ...        ...         ...             ...   ...
541904 2011-12-09 12:50:00       0.85     12680.0          France  2011
541905 2011-12-09 12:50:00       2.10     12680.0          France  2011
541906 2011-12-09 12:50:00       4.15     12680.0          France  2011
541907 2011-12-09 12:50:00       4.15     12680.0          France  2011
541908 2011-12-09 12:50:00       4.95     12680.0          France  2011

        Month  DayOfWeek  TotalPrice  TotalSpend  AverageSpend  TotalItems
0          12          2       15.30     5288.63     16.950737      1693.0
1          12          2       20.34     5288.63     16.950737      1693.0
2          12          2       22.00     5288.63     16.950737      1693.0
3          12          2       20.34     5288.63     16.950737      1693.0
4          12          2       20.34     5288.63     16.950737      1693.0
...       ...        ...         ...         ...           ...         ...
541904     12          4       10.20      862.81     16.592500       443.0
541905     12          4       12.60      862.81     16.592500       443.0
541906     12          4       16.60      862.81     16.592500       443.0
541907     12          4       16.60      862.81     16.592500       443.0
541908     12          4       14.85      862.81     16.592500       443.0

[541909 rows x 15 columns]

In [28]:
# Second Task: Take a raw dataset and perform feature engineering. 
# This can include creating new features, transforming existing features, 
# and encoding categorical variables.
# Explain the rationale behind each decision.
product_features = df.groupby('StockCode').agg(
    TotalQuantitySold=('Quantity', 'sum'),
    AveragePrice=('UnitPrice', 'mean')
).reset_index()
data = df.merge(product_features, on='StockCode', how='left')
print(data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country  Year  \
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom  2010
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom  2010
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom  2010
...                    ...        ...         ...             ...   ...
541904 2011-12-09 12:50:00       0.85     12680.0          France  2011
541905 2011-12-09 12:50:00       2.10     12680.0          France  2011
541906 2011-12-09 12:50:00       4.15     12680.0          France  2011
541907 2011-12-09 12:50:00       4.15     12680.0          France  2011
541908 2011-12-09 12:50:00       4.95     12680.0          France  2011

        Month  DayOfWeek  TotalPrice  TotalQuantitySold  AveragePrice
0          12          2       15.30              38830      3.103238
1          12          2       20.34               1911      4.777493
2          12          2       22.00               1422      4.254966
3          12          2       20.34               3589      5.176540
4          12          2       20.34               4660      5.068208
...       ...        ...         ...                ...           ...
541904     12          4       10.20               1528      1.006757
541905     12          4       12.60               2066      2.430906
541906     12          4       16.60               1690      4.261937
541907     12          4       16.60               1006      4.342099
541908     12          4       14.85               4880      5.333881

[541909 rows x 14 columns]